<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Authentication</title>
</head>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:wght@400;500&family=Varela+Round&display=swap');
</style>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400&family=Montserrat:wght@200&family=Poppins:wght@400;500&family=Raleway:wght@300&family=Varela+Round&display=swap');
  </style>
  <link rel="stylesheet" href="/css/Authentication.css">  
<body>
  <div class="form1" id="f1">
    <form action="/signup" method="POST">
      <input name="name" class="but" id="uname" type="text" placeholder="Username">
      <input name="username" class="but" id="em1" type="text" placeholder="Email ID">
      <input name="password" class="but" id="pass1" type="password" placeholder="Password">
      <input class="sub" id="signsub" type="submit" value="Signup">
      <input type="checkbox" id="remember" name="remember_me" value="t&c">
      <a id="tc" href="">I agree with terms & conditions</a>
    </form>
  </div>
  <div class="form1" id="f2">
    <form action="/login" method="POST">
      <input name="username" class="but" id="em2" type="text" placeholder="Email ID">
      <input name="password" class="but" id="pass2" type="password" placeholder="Password">
      <input class="sub" id="logsub" type="submit" value="Login">
      <hr class="ruler" id="r1">
      <p class="or">Or</p>
      <hr class="ruler" id="r2">
      <button class="google">Continue with Google</button>
    </form>
  </div>
  <img class="back" src="https://pbs.twimg.com/profile_images/1562753500726976514/EPSUNyR3_400x400.jpg" alt="Your Image">
  <div class="background"></div>
  <div class="log_tab">
    <div class="nav">
      <button class="auth one" id="logid">LOG IN</button>
      <button class="auth two" id="subid">SIGN UP</button>
    </div>
  </div>
</body>
<script>
  
  let a=document.getElementById('logid')
  let b=document.getElementById('subid');
  let x=document.getElementById('f1')
  let y=document.getElementById('f2');

  window.onload=function()
  {
    b.click()
    b.style.borderBottom="solid 3px orangered"
  }
  a.addEventListener('click', function()
  {
    y.style.zIndex=2
    x.style.zIndex=-1
    b.style.borderBottom="none"
    a.style.borderBottom="solid 3px orangered"
  })
  b.addEventListener('click', function()
  {
    x.style.zIndex=2
    y.style.zIndex=-1
    a.style.borderBottom="none"
    b.style.borderBottom="solid 3px orangered"
  })
</script>

</html>