<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Homepage.css">
    <title>ProjEx</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:wght@400;500&family=Varela+Round&display=swap');
</style>

<body>
    <div class="back"></div>
    <div class="nav_back"></div>
    <div class="nav">
        <div class="left">
            <button class="but_nav l" id="features">Features</button>
            <button class="but_nav l" id="resources">Resources</button>
            <button class="but_nav l" id="contact">Contact Us</button>
        </div>
        <div class="right">
            <button class="but_nav r" id="login" onclick="location.href='/authentication'">Login</button>
            <button class="but_nav r" id="signup" onclick="location.href='/authentication'">Sign Up</button>
        </div>
    </div>
    <div class="heading">
        <p class="head one">A platform built for a</p>
        <p class="head two">new way of working</p>
    </div>
    <div class = "feature">
        <div id="box1" class="box">
            <img src="https://drive.google.com/uc?id=1wqNkQd8XdIY4j3V3jGb8n7wDzghaoxex" alt="task">
            <p> Task Management</p>
          </div>
          <div id="box2" class="box">
            <img src="https://drive.google.com/uc?id=1bYV39LRw19iXlb-PGMloNyOdOqG6DQOu" alt="doc">
            <p>  Document</p>
          </div>
          <div id="box3" class="box">
            <img src="https://drive.google.com/uc?id=1YG4dnshFO97SO1xk6JJ5Tm9PBTwS5139" alt="budget">
            <p>Budget Analysis</p>
          </div>
          <div id="box4" class="box">
            <img src="https://drive.google.com/uc?id=13fR8L1SCx4GwQPHSvwkcii4ZzFVLEN2k" alt="chat">
            <p>Communication</p>
          </div>
          <div id="box5" class="box">
            <img src="https://drive.google.com/uc?id=180j6jP169uoHXs3v50ScB-ztlOSwk8cE" alt="report">
            <p>Report & Analytics</p>
          </div>
          
    </div>
    <button class="getstart" id="getstarted" onclick="location.href='/authentication'">Get Started</button>




<!-- *************************************************************************** -->
    <div class="projex_back">
        <div class="projex_moto">
            <pre>
            <p class="pmlines">ProjEx offers a comprehensive</p>
            <p class="pmlines"> set of features that make project management</p>
            <p class="pmlines">budget analysis, communication and collaboration,</p>
            <p class="pmlines">report analysis, and file sharing.</p>
            </pre>
        </div>

    <!-- *************************** -->
        <div class="projexdetails proj1">
            <div class="detail">
                <pre class="detail_in">
<b class="detail_in_head">Flexibility and customization </b>: projex is
designed to be  flexible and customizable
to suit your needs. 
        </pre>
            </div>
            <div class="detail">
                <pre class="detail_in">
<b class="detail_in_head">User-friendly interface </b>: ProjEx has a
user-friendly interface that is easy to
navigate and use.
        </pre>
            </div>
        </div>
        <!-- *************************** -->

        <!-- *************************** -->
        <div class="projexdetails proj2">
            <div class="detail">
                <pre class="detail_in">
<b class="detail_in_head">Real-time updates and notifications </b>: With
ProjEx, you get real-time updates and
notifications for task progress, budget
spending, file sharing, and communication.
</pre>
            </div>
            <div class="detail">
                <pre class="detail_in de">
<b class="detail_in_head">Secure and reliable </b>: ProjEx uses the
latest security protocols to keep your data
safe and secure. It also has reliable
uptime, so you can access your data and
collaborate with your team
</pre>
            </div>
        </div>
        <!-- *************************** -->

        <!-- ************************************** -->
    </div>
    <!-- *************************************************************************** -->


    <div class="features">
        <div class="features_text">Let's jump into features of ProjEx</div>
    </div>

    <div class="ad_back b1">
        <div class="tagline">
            <div class="tag_head">"Stay on top of your tasks effortlessly"</div>
            <div class="ad_in">
                <div class="ad_in_head">Task Management</div>
                <div class="text_box">
                    Task management is a crucial aspect of any project and ProjEx offers a comprehensive solution to help you stay on top of your team's progress. With ProjEx, you can create and assign tasks, set deadlines, track progress, and communicate with your team, all in one place
                </div>
            </div>
        </div>
        <div class="tagline">
            <div class="tag_head">"Track your budget, boost your profitability"</div>
            <div class="ad_in">
                <div class="ad_in_head">Budget analysis</div>
                <div class="text_box">
                    Budget analysis is an essential part of any project, and ProjEx provides a comprehensive solution to help you stay on top of your finances. With ProjEx, you can track your expenses, manage your budget, and ensure that your projects stay on track, both financially and operationally.
                </div>
            </div>
        </div>
    </div>
    <div class="ad_back b2">
        <div class="tagline">
            <div class="tag_head">"Connect, communicate, and collaborate"</div>
            <div class="ad_in">
                <div class="ad_in_head">Communication</div>
                <div class="text_box">
                    Effective communication and collaboration are the keys to successful project management, and ProjEx provides a comprehensive solution to help you stay connected with your team. With ProjEx, you can communicate and collaborate with your team in real-time, no matter where you are.
                </div>
            </div>
        </div>
        <div class="tagline">
            <div class="tag_head">"Get meaningful insights for informed decisions"</div>
            <div class="ad_in">
                <div class="ad_in_head">Analysis</div>
                <div class="text_box">
                    Project reports are essential to help you track your progress, measure performance, and make informed decisions. With ProjEx, you can easily analyze your data and generate reports that provide meaningful insights into your projects.
                </div>
            </div>
        </div>
    </div>
    <div class="ad_back b3">
        <div class="tagline tlast">
            <div class="tag_head">"Share files securely and collaborate seamlessly"</div>
            <div class="ad_in">
                <div class="ad_in_head">Collaboration</div>
                <div class="text_box">
                    Sharing files is an important part of project management, and ProjEx provides a secure and convenient solution to help you collaborate with your team. With ProjEx, you can store, share, and access your files from anywhere, at any time.
                </div>
            </div>
        </div>
    </div>
</body>

</html>