*
{
margin: 0;
}
.back
{
width:100%;
}
.background
{
height:100%;
width:100%;
background-color: rgba(66, 66, 139, 0.307); 
position:absolute;
top:0;
left:0;
backdrop-filter: blur(4px);
-webkit-backdrop-filter: blur(4px);
}
.log_tab
{
height:53%;
width:30%;
position: absolute;
top:15%;
left:32.5%;
background-color: white;
border-radius: 10px;
display: flex;
flex-direction: column;
}
.nav
{
margin-top: 2%;
height:13%;
width:100%;
display: flex;
flex-direction: row;
align-items: center;
color:rgb(50, 50, 50);
}
.auth
{
font-family: 'Varela Round', sans-serif;
margin-right:-5%;
margin-left: 15%;
padding:2px; 
border:none;
background-color: white;
font-size: 1.2rem;
padding: 2px;
margin-top:2%;
color: rgb(60, 60, 60);
font-weight: 500;
}
/* .auth:hover
{
border:none;
border-bottom:solid 3px grey;
}
.auth:focus
{
border:none;
border-bottom:solid 3px orangered;
} */
.form1
{
height:47.85%;
width:30%;
position: absolute;
left: 32.5%;
top:22.15%;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}
.but
{
font-family: 'Poppins', sans-serif;
height:30px;
width:70%;
position: relative;
top:30px;
left:15%;
border: none;
border-bottom: solid 2px rgb(169, 169, 169);
padding-left: 5px;
margin-bottom: 18px;
}
.but:hover
{
border:none;
border-bottom: solid 2px orangered;
}
::placeholder:hover
{
color: orangered;
}
.but:focus
{
outline: none;
border:none;
border-bottom:solid 2px rgb(99, 99, 99);
}
.sub
{
font-family: 'Poppins', sans-serif;
height:35px;
width:25%;
position: absolute;
left:37%;
top:43%;
border-radius: 20px;
border:none;
background-image: linear-gradient(to right, rgb(216, 58, 0), rgb(251, 155, 1) );
color: white;
}
.sub:hover
{
transition-timing-function: linear;
background-image: linear-gradient(to left, rgb(216, 58, 0), rgb(251, 155, 1) );
}
#signsub
{
position: absolute;
top:71%;
}
#remember
{
position: absolute;
top:62.5%;
left:24%;
}
#tc
{
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-decoration: none;
position: absolute;
top:61.5%;
left:29%;
font-size: 0.82rem;
color: rgb(147, 147, 147);
}
.ruler
{
width:30.5%;
position: absolute;
top:62.5%;
left:15%;
border: solid 0.7px rgb(228, 228, 228);
}
.or
{
font-family: 'Poppins', sans-serif;
position: absolute;
top:59%;
left:48%;
color: rgb(66, 66, 66);
font-size: 0.9rem;
}
#r2
{
width: 32.3%;
left:54%;
}
.google
{
height:40px;
width:60%;
position: absolute;
top:73%;
left:20%;
border:solid 1.5px rgb(126, 167, 242);
background-color: transparent;
border-radius: 3px;
color: rgb(91, 140, 231);
font-size: 0.95rem;
}
.google:hover
{
background-color: rgb(49, 113, 232);
border:solid 1.5px rgb(49, 113, 232);
color:white;
}
#reset_pass
{
font-family: 'Poppins', sans-serif;
text-decoration: none;
position: absolute;
top:34%;
right:14%;
color: rgb(159, 159, 159);
font-size: 0.8rem;
}